/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$site-width: 960px;
$blue: #68bed6;
$dark-blue: #3f7781;
$text-color:#000;
$placeholder-color:#eee;

a{
	text-decoration:none;
}


.site-inner{
	width: $site-width;
	margin:0 auto;
	padding:15px;
}

header#site-header{
	background:$blue;
}

#site-nav{
	ul{
		li{
			display:inline-block;
			margin:5px 10px;
			a{

			}
		}
	}
}

.listing-box{
	ul{
		li{
			display:inline-block;
			margin:10px;
			border:1px solid #68bed6;
			box-sizing: border-box;
			padding:15px;
		}
	}
}

form{
	display:inline-block;
	width:40%;
	.form-row input[type="text"],
	.form-row input[type="email"],
	.form-row input[type="password"]{
		width:100%;
		box-sizing:border-box;
		padding:5px 5px 5px 15px;
		height:25px;
		@include input-placeholder {
			color: $placeholder-color;
		}
	}
	.form-row textarea{
		width:100%;
		box-sizing:border-box;
		padding:5px 5px 5px 15px;
		height:70px;
	}
	.form-row input[type="submit"]{
		width:100%;
		box-sizing:border-box;
		padding:5px 5px 5px 15px;
		height:25px;
		background:$blue;
		color:#fff;
	}
}

.welcome{
	margin-bottom:25px;
}

#message-sidebar{
	float:left;
	width:25%;
}

#message-main{
	float:left;
	width:75%;
}