/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$site-width: 960px;
$blue: #68bed6;
$dark-blue: #336f7b;
$dark-blue-hover: #234b54;
$blue-hover: #3197b5;
$text-color:#000;
$placeholder-color:#bbb;


@font-face {
  font-family: 'Gotham-Bold';
  src: 	url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Bold.otf')  format('opentype'),
		url('../fonts/Gotham-Bold.woff') format('woff'), 
		url('../fonts/Gotham-Bold.ttf')  format('truetype'), 
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Book.otf')  format('opentype'),
		url('../fonts/Gotham-Book.woff') format('woff'), 
		url('../fonts/Gotham-Book.ttf')  format('truetype'), 
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Gotham-Book';	
	font-size: 12px;
	color:$dark-blue;
}

a{
	text-decoration:none;
}

h1, h2, h3, h4{
	font-family: 'Gotham-Bold';
	color: $dark-blue;
}

.dark-blue-btn{
	background: $dark-blue;
	color:#fff;
	display:inline-block;
	border:0;
	text-transform: uppercase;
	padding: 8px 7px;
	font-family: "Gotham-Bold";
}

.dark-blue-btn:hover{
	background: $dark-blue-hover;
}

.blue-btn{
	background: $blue;
	color:#fff;
	display:inline-block;
	border:0;
	text-transform: uppercase;
	padding: 8px 7px;
	font-family: "Gotham-Bold";
}

.blue-btn:hover{
	background: $blue-hover;
}



.site-inner{
	width: $site-width;
	margin:0 auto;
	padding:15px;
}

.row{
	width:100%;
	&:after{
		content:"";
		display:block;
		clear:both;
	}

	.col-2{
		width: 50%;
		float:left;
		padding:15px;
		box-sizing: border-box;
	}

	.col-4{
		width: 25%;
		float:left;
		padding:5px;
		box-sizing: border-box;
	}
}

header#site-header{
	background:$blue;
}

#site-nav{
	ul{
		li{
			display:inline-block;
			margin:5px 10px;
			a{

			}
		}
	}
}

.listing-box{
	ul{
		li{
			display:inline-block;
			margin:10px;
			border:1px solid #68bed6;
			box-sizing: border-box;
			padding:15px;
		}
	}
}

.full-wide{
	width:100%;
}
form{
	display:inline-block;
	width:40%;
	.form-row{
		margin-bottom: 15px;

		label{
			font-size: 16px;
			line-height: 28px;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		select{
			border: 1px solid $dark-blue;
			width:100%;
			box-sizing:border-box;
			color:#000;
			padding:3px 0 3px 10px;
			height: 35px;
			@include input-placeholder {
				color: $placeholder-color;
			}
		}
		textarea{
			border: 1px solid $dark-blue;
			width:100%;
			box-sizing:border-box;
			padding:5px 5px 5px 10px;
			height:70px;
		}
		input[type="submit"]{
			width:100%;
			color:#fff;
			text-transform: uppercase;
			background:$dark-blue;
			border: 1px solid $dark-blue;
			padding:3px;
			height: 35px;
		}
	}
}

.block{
	.block-title{
		background: $blue;
		color:#fff;
		font-size: 18px;
		padding: 10px;
	}
	.block-content{
		padding: 15px;
		box-sizing: border-box;
		color: $blue;
		font-size: 14px;
		p{
			margin-bottom:5px;
		}
	}
}

.welcome{
	margin-bottom:25px;
}

#message-sidebar{
	float:left;
	width:25%;
}

#message-main{
	float:left;
	width:75%;
}


.giver-profile-block{
	.profile-image{
		width: 300px;
		height: auto;
		float:left;
		img{
			width:100%;
		}
	}
}

.av-tick{
	display:inline-block;
	width:25px;
	height:25px;
	background:green;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border:1px solid #000;
}

#avaiability-table td{
	padding: 10px;
}