/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$site-width: 1280px;
$blue: #1E6073;
$dark-blue: #164856;
$light-blue: #164856;
$dark-blue-hover: #3197b5;
$blue-hover: #3197b5;
$text-color:#000;
$placeholder-color:#bbb;


@font-face {
  font-family: 'Gotham-Bold';
  src: 	url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Bold.otf')  format('opentype'),
		url('../fonts/Gotham-Bold.woff') format('woff'), 
		url('../fonts/Gotham-Bold.ttf')  format('truetype'), 
		url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Book.otf')  format('opentype'),
		url('../fonts/Gotham-Book.woff') format('woff'), 
		url('../fonts/Gotham-Book.ttf')  format('truetype'), 
		url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Gotham-Book';	
	font-size: 12px;
	color:$dark-blue;
}

a{
	text-decoration:none;
}

h1{
	font-size: 22px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}

h1, h2, h3, h4{
	font-family: 'Gotham-Bold';
	color: $dark-blue;
	margin-bottom:10px;
}

.dark-blue-btn{
	background: $dark-blue;
	color:#fff;
	display:inline-block;
	border:0;
	
	padding: 11px 27px;
	font-family: "Gotham-Bold";
	border-bottom: 5px solid $blue;
}

.dark-blue-btn:hover{
	background: $dark-blue-hover;
}

.blue-btn{
	background: $blue;
	color:#fff;
	display:inline-block;
	border:0;
	padding: 11px 27px;
	font-family: "Gotham-Bold";
	border-bottom: 5px solid $dark-blue;
}

.blue-btn:hover{
	background: $blue-hover;
}

.clear{
	clear:both;
}

.site-inner{
	width: $site-width;
	margin:0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}


.full-wide{
	width:100%;
}

.row{
	width:100%;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	.col-1{
		width:100%;
		padding:15px;
		box-sizing: border-box;
	}
	.col-2{
		width: 50%;
		float:left;
		padding:15px;
		box-sizing: border-box;
	}

	.col-4{
		width: 25%;
		float:left;
		padding:5px;
		box-sizing: border-box;
	}
}


// header
header#site-header{
	.header-top{
		padding: 15px 0;
		background:#ddd;
		text-align: right;
		ul{
			display:inline-block;
			li{
				display:inline-block;
				color: $dark-blue;
				margin:0 5px;
				a{
					color: $dark-blue;
					text-transform:uppercase;
				}
			}
		}
	}
	.header-content{
		padding: 15px 0;
		background:$blue;
		text-align: center;
	}
}
// end of header

// main-nav
nav#main-nav{
	background:$dark-blue;
	min-height: 78px;
	.nav-inner{
		position:relative;
	}
	.account-block{
		position:absolute;
		right:0;
		top:0;	
		text-align: left;
		color:#fff;
		z-index:999;
		&.actived{
			background: #fff;
			color: $dark-blue;
			@include box-shadow($dark-blue 2px 2px 10px);
			.account-inner{
				border: 1px solid $dark-blue;
				border-bottom: 0;
			}
			
			#account-block-menu{
				display:block;
			}
			.user-name{
				color: $dark-blue !important;
			}
			i{
				color:$dark-blue;
			}
		}
	    .account-inner{
	    	padding: 8px 5px 6px 15px;
	    }
		.account-block-img{
			display:inline-block;
			vertical-align: top;
			margin-right: 25px;
			img{
				width: 60px;	
			}
		}
		.account-block-content{
			display:inline-block;
			vertical-align: top;
			margin-right: 15px;
			padding-top: 9px;
			.user-name{
				color:#fff;
				font-size: 18px;
				margin-bottom: 5px;
				text-transform: capitalize;
			}
			.user-type{
				font-size: 16px;
			}

		}
		#account-down{
			display:inline-block;
			vertical-align: top;
			font-size: 18px;
			color:#fff;
		    margin-top: 25px;
		}	

		#account-block-menu{
			display:none;
			background: #fff;
			border: 1px solid $dark-blue;
			z-index:99;
			ul{
				li{
					width:100%;
					
					box-sizing: border-box;
					border-bottom: 1px solid $dark-blue;
					&:last-child{
						border:0;
					}
					a{
						display:block;
						padding: 10px 25px;
						color: $dark-blue;
    					font-size: 16px;
					}
					a:hover{
						background: #ccc;
					}
				}
			}
		}
	}
	
	#mb-btn{
	    color: #fff;
    	font-size: 35px;
    	display:none;
    	padding:0 10px;
	}

	#site-nav{
		display:inline-block;
		padding: 20px 0;
		ul{
			li{
				padding:10px 10px;
				display:inline-block;
				color:#fff;
				a{
					color: #fff;
					font-size: 16px;
				}
			}
		}
	}
}
// end of main nav


// form
form{
	display:inline-block;
	width:40%;
	.form-row-2{
		margin-bottom: 15px;
		label{
			font-size: 16px;
			line-height: 28px;
		}
		input, select{
			border: 1px solid $dark-blue;
			width: 120px;
			box-sizing:border-box;
			color:#000;
			padding:3px 0 3px 10px;
			height: 35px;
			@include input-placeholder {
				color: $placeholder-color;
			}
		}
	}
	.form-row{
		margin-bottom: 15px;

		label{
			font-size: 16px;
			line-height: 28px;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		select{
			border: 1px solid $dark-blue;
			width:100%;
			box-sizing:border-box;
			color:#000;
			padding:3px 0 3px 10px;
			height: 35px;
			@include input-placeholder {
				color: $placeholder-color;
			}
		}
		textarea{
			border: 1px solid $dark-blue;
			width:100%;
			box-sizing:border-box;
			padding:5px 5px 5px 10px;
			height:70px;
		}
		input[type="submit"]{
			width:100%;
			color:#fff;
			text-transform: uppercase;
			background:$blue;
			border: 1px solid $blue;
			padding:3px;
			height: 35px;
			border-bottom: 5px solid $dark-blue;
    		font-size: 16px;
    		font-family: "Gotham-Bold";
		}
	}
}
// end of form


// main content area
.page-main{
	padding: 45px 0;
	min-height: 800px;

	.page-title{
		font-size: 22px;
		color:$dark-blue;
		margin-bottom: 25px;
	}

}



.listing-box{
	padding: 25px 0;
	box-sizing: border-box;
	ul{
		li{
			border:1px solid #ccc;
			box-sizing: border-box;
			padding:10px;
			margin-bottom: 20px;
		}
	}
}




.block{
	.block-title{
		background: $blue;
		color:#fff;
		font-size: 18px;
		padding: 10px;
		.edit-btn{
			display:inline-block;
			float:right;
			color:#fff;
			font-size: 14px;
			margin-right: 15px;
		}
	}
	.block-content{
		padding: 15px;
		box-sizing: border-box;
		color: $blue;
		font-size: 14px;
		p{
			margin-bottom:5px;
		}
	}
}

.welcome{
	margin-bottom:25px;
}

#message-menu{
	ul{
		li{
			display:inline-block;
			width:49.5%;
			border:1px solid $blue;
			text-align:center;		
			background: #fff;
			a{
				font-size: 16px;
				color:$dark-blue;
				display:block;
				height:100%;
				width: 100%;
				padding: 10px 0;			
			}
			&.active{
				background:$blue;
				a{

					color:#fff;
				}
				
			}
		}
	}
}

#message-main{
	padding: 15px;
	ul{
		li{
			border-bottom:1px solid #ccc;
			color:$dark-blue;
			padding: 15px;
			margin-bottom: 25px;
			position: relative;
			&:first-child{
				border-top:1px solid #ccc;
			}

			.user-img{
				width: 15%;
				box-sizing:border-box;
				display: inline-block;
				vertical-align: top;
				padding: 10px;
				img{
					width: 100%;
				}
			}
			.message-tease{
				width: 78%;
				box-sizing:border-box;
				display: inline-block;
				vertical-align: top;
				padding: 10px 20px;
				position: relative;
				.user-name{
					font-size: 20px;
					font-family: 'Gotham-Bold';
					color: $dark-blue;
					margin-bottom: 15px;
					text-transform: capitalize;
				}
				.message-content{
					font-size: 16px;
					margin-bottom: 15px;
				}
				.message-date{
					font-style: italic;
					font-size: 16px;
					margin-bottom: 15px;
				}
				.cta{
					position:absolute;
					right:0;
					top:20%;
				}
			}
			
			
		}
	}
}

.message{
	padding: 15px;
	.user-img{
		width: 15%;
		box-sizing:border-box;
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		img{
			width: 100%;
		}
	}
	.message-tease{
		width: 60%;
		box-sizing:border-box;
		display: inline-block;
		vertical-align: top;
		padding: 10px 20px;
		position: relative;
		.user-name{
			font-size: 20px;
			font-family: 'Gotham-Bold';
			color: $dark-blue;
			margin-bottom: 15px;
			text-transform: capitalize;
		}
		.message-content{
			font-size: 16px;
			margin-bottom: 15px;
		}
		.message-date{
			font-style: italic;
			font-size: 16px;
			margin-bottom: 15px;
		}
	}

	.message-body{
		padding:15px;
		font-size: 16px;
	}
	.msg-cta{
		padding:15px;
	}
}

.profile-block{
	.profile-image{
		width: 160px;
		height: auto;
		display: inline-block;
    	vertical-align: top;
		margin-right: 20px;
		img{
			width:100%;		
		}
	}

	.profile-info{
		display: inline-block;
    	vertical-align: top;
		h2{
			font-size: 20px;
			margin-bottom: 10px;
			text-transform: capitalize;
		}
		h3.last-login{
			font-size:12px;
			margin-bottom:15px;
		}
		.gender{
			text-transform: capitalize;
			margin-bottom: 5px;
		}
		.user-location{
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.user-status{
			margin-bottom: 10px;
		}
		.user-background-check{
			margin-bottom: 20px;
		}
	}
}


.av-tick{
	display:inline-block;
	width:25px;
	height:25px;
	background:#fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border:1px solid #000;
}

#avaiability-table{
	td{
		padding: 10px;
		border:1px solid #000;
		text-align: center;
		color:#055B05;
	}
}

.av-icon{
	display:inline-block;
	width:20px;
	height:20px;
	text-align:center;
	@include border-radius(50%);
}

.av-icon.a-0{
	background:#fff;
}
.av-icon.a-1{
	background: #055B05;
}


.job-view{
	margin-bottom:25px;
}
.job-block{
		.job-title{
			font-size: 20px;
			margin-bottom:15px;
			color:$dark-blue;
			.active{
				color: green;
			}
			.inactive{
				color: red;
			}
		}
		.job-desc{
			font-size: 16px;
			color:$text-color;
			padding: 15px 0;
		}
	}


#site-footer{
	background:$dark-blue;
	.footer-content{
		color: #fff;
		overflow:hidden;
		padding: 15px;
		.footer-1{
			float:left;
			width:28%;
		}
		.footer-2{
			float:left;
			width:35%;
			font-size: 12px;
			p{
				margin-bottom: 10px;
				a{
					color:#fff;
				}
			}
		}
		.footer-3{
			float:left;
			width:35%;
			font-size: 11px;
		}

	}

}

.rating-block{
	float:right;
	text-align:center;
	padding:20px 15px;
	background: $dark-blue;
	color:#fff;
	h3{
		color:#fff;
		margin-bottom:15px;
		font-size: 18px;
	}
	i{
		color: $blue;
	}
}

.user-block{
	overflow:hidden;
	.user-img{
		width: 20%;
		box-sizing:border-box;
		float: left;
		padding: 10px;
		img{
			width: 100%;
		}
	}
	.user-info{
		width: 60%;
		box-sizing:border-box;
		float: left;
		padding: 10px 20px;
		position: relative;
		font-size: 14px;
		.user-name{
			font-size: 32px;
			font-family: "Gotham-Bold";
			color: $dark-blue;
			margin-bottom: 15px;
			text-transform: capitalize;
		}

		.last-login {
			span {
				font-weight: bold;
			}
		}
		.user-location{
			margin-bottom:20px;
			font-style: italic;
		}
		.user-exp{
			font-size: 14px;
			line-height: 18px;
			font-weight: bold;
			color: $text-color;
			margin-bottom: 20px;
		}
		.user-rate{
			font-size: 14px;
			color: $blue;
			margin-bottom: 15px;
		}
		.user-rating{
			position:absolute;
			top:0;
			right:0;
			padding:10px;
		}
		.sub-content{
			padding: 15px 0;
			h2{
				font-size: 16px;
			}
		}
	}

	.user-right-box{
		width:20%;
		color:#fff;
		box-sizing:border-box;
		float: right;
		background:$dark-blue;
		text-align: center;
		padding: 20px 15px;
		h2{
			font-size: 32px;
			color:#fff;
		}
		.user-rate{
			margin-bottom: 15px;
			p{
				font-size: 20px;
			}
		}
		.year-exp{
			p{
				font-size: 16px;
			}
		}
	}
}

.filter-sidebar{
	width: 20%;
	float: left;
	border: 1px solid $dark-blue;
	box-sizing: border-box;
	padding: 30px 15px;
	form{
		width:100%
	}
	h2{
		font-size: 20px;
		margin-bottom: 35px
	}
	.form-ele{
		width:100%;
		margin-bottom: 15px;
		label{
			font-size: 14px;
			color: $dark-blue;
			display:block;
			margin-bottom: 5px;
		}
		select{
			width: 100%;
			border: 1px solid $dark-blue;
			color:$dark-blue;
			padding: 10px;
			text-transform: uppercase;
		}
		
		input[type="text"]{
			width: 100%;
			border: 1px solid $dark-blue;
			color:$dark-blue;
			padding: 10px;
			box-sizing: border-box;
		}
		input[type="submit"]{
			width:100%;
			background: $dark-blue;
			color:#fff;
			border:0;
			font-size: 20px;
			padding: 10px;
		}
	}
}

.content-with-sidebar{
	width: 80%;
	float: left;
	box-sizing: border-box;
	padding-left: 30px;
}

.giver-list-block{
	.listing-box{
		ul{
			li{
				border:0;
				border-bottom: 1px solid #ccc;
			}
		}
	}
}

.tool-bar{
	text-align:right;
	#sort-by{
		text-transform: uppercase;
	}
}


.service2-list{
	li{
		display:inline-block;
		width: 30%;
		margin-bottom: 10px;
		input{
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
		}
	}
}

.msg-notify{
	display:inline-block;
	background:#BC1414;
	padding:4px;
	font-size: 11px;
	color:#fff;
	text-align: center;
	vertical-align: middle;
	box-sizing:border-box;
	min-width:18px;
	height:18px;
	@include border-radius(2px);
}

.register-block{
	display:inline-block;
	width: 45%;
	box-sizing: border-box;
	padding: 0 15px;
	p{
		margin-bottom: 25px;
	}
	form{
		width:100%;
	}
}

.sub-list{
	ul{
		li{
			display:inline-block;
			width:49%;
			vertical-align: top;
			.user-block .user-img{
				width:25%;
			}
			&:nth-child(2n){
				border-left: 2px solid #ccc;
			}
		}

	}
}

.pagination-block{
	text-align: right;
	.pagination{
		li{
			display:inline-block;
			padding:5px;
			margin-right:5px;
			background:$blue;
			color:#fff;
			a{
				color:#fff;
			}
			&.active{
				background: $dark-blue;
			}
		}
	}
}

.flash{
	padding: 15px;
	font-size: 18px;
	&.alert-info{
		color: #0C9A0C; 
	}
	&.alert-danger{
		color: #C10B0B;
	}
}

#forgot_password{
	display:inline-block;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
    text-decoration: underline;
    margin-left: 25px;
}

@media screen and (max-width: 1280px){
	.site-inner{
		width:100%;
	}
}

@media screen and (max-width: 800px){
	#main-menu-block{
		display:none;
		padding: 20px 0;
	}
	#site-footer{
		.footer-content{
			.footer-1, .footer-2, .footer-3{
				width:100%;
				text-align: center;
				margin-bottom: 15px;
				box-sizing:border-box;
			}
		}
	}
	nav#main-nav{
		#site-nav{
			ul{
				li{
					width:100%;
					box-sizing: border-box;
				}
			}
		}
		#mb-btn{
			display:inline-block;
		}
	} 
	form{
		width:80%;
		display:block;
		margin:0 auto;
	}
}

@media screen and (max-width:550px){
	.header-top{
		display:none;
	}

	.filter-sidebar{
		width:100%;
	}

	.content-with-sidebar{
		width:100%;
		padding:0;
	}

	.tool-bar{
		text-align: center;
	}
	.user-right-box{
		display:none;
	}

	.user-rating{
		display:none;
	}

	#avaiability-table{
		td{
			padding:3px;
		}
	}

}