@import "compass/reset";
@import "compass/css3";

// Font weights
$light: 100;
$regular: 500;
$bold: 600;

//colors
$gold: #be9b2e;
$darkgrey: #343434;
$white: #fff;

$site-width: 1280px;
$blue: #1E6073;
$dark-blue: #164856;
$light-blue: #164856;
$dark-blue-hover: #3197b5;
$blue-hover: #3197b5;
$text-color:#000;
$placeholder-color:#bbb;

$proxima: "proxima-nova",sans-serif;
$museo: "museo-sans",sans-serif;

//Transition Mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin fontawesome {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

@mixin full {
	display: block;
	width: 100%;
	float: left;
}

//Respoonsive Mixins
@mixin bp-large {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

//Respoonsive Mixins
@mixin bp-mlarge {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}


a,{
	text-decoration:none;
}

a, p, span, ul, li, address, input, textarea {
	font-family: $proxima;
	line-height: 22px;
}

textarea {
	@include border-radius(4px);
	border: 1px solid #909090;
}

h1, h2, h3, h4, h5 ,h6 {
	font-family: $museo;
	font-weight: 900;
}

h1{
	font-size: 22px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}

h1, h2, h3, h4{
	color: $dark-blue;
	margin-bottom:10px;
}

p {
	line-height: 20px;
    margin-bottom: 10px;
}

.fa-star {
	color: #f47521 !important;
}

.background-image {
	@include full;
	min-height: 300px;
	background-color: #e3e3e3;
	z-index: 9999;
	position: relative;
}

.profile-block {
	overflow: hidden;
}


.welcome.title {
	h1 {
		font-size: 42px;
		margin: 10px 0px 40px 0px;

		@include bp-small {
			font-size: 30px;
			margin: 30px 0px;
		}
	}	
}

.home-page {
	.page-main {
		background: url(images/temp-image.jpg) no-repeat center; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
}

body {
	font-family: $proxima;
}

.clear{
	clear:both;
}

.site-inner{
	width: $site-width;
	margin:0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;

	@include bp-large {
		width: 95%;
		margin: 0px 2.5%;
		padding: 0px 0px 0px 0px;
	}
}

.full-wide{
	width:100%;
}

.row{
	width:100%;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	.col-1{
		width:100%;
		padding:15px;
		box-sizing: border-box;

		@include bp-small {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.col-2{
		width: 50%;
		float:left;
		padding:15px;
		box-sizing: border-box;
	}

	.col-4{
		width: 25%;
		float:left;
		padding:5px;
		box-sizing: border-box;
	}
}

// main content area
.page-main{
	padding: 45px 0;
	min-height: 800px;

	.page-title{
		font-size: 34px;
		color:$dark-blue;
		margin-bottom: 25px;

		h2 {
			font-size: 32px;
		}
	}
}

.welcome{
	margin-bottom:25px;
}

.content-with-sidebar{
	width: 80%;
	float: left;
	box-sizing: border-box;
	padding-left: 30px;

	@include bp-mlarge {
		padding-left: 2%;
		width: 67%;
	}

	@include bp-small {
		padding-left: 0%;
		width: 100%;
	}
}

.service2-list{
	li{
		display:inline-block;
		width: 30%;
		margin-bottom: 10px;
		input{
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
		}
	}
}


.register-block{
	display:inline-block;
	width: 45%;
	box-sizing: border-box;
	padding: 0 15px;
	p{
		margin-bottom: 25px;
	}
	form{
		width:100%;
	}
}

@import "partials/header";
// @import "partials/nav";
@import "partials/buttons";
@import "partials/message";
@import "partials/profile";
@import "partials/sidebar";
@import "partials/user";
@import "partials/job";
@import "partials/utilities";
@import "partials/footer";
@import "partials/pushy";


