/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 39, ../sass/screen.scss */
body {
  font-family: 'Gotham-Book';
  font-size: 12px;
  color: #336f7b;
}

/* line 45, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 49, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: 'Gotham-Bold';
  color: #336f7b;
}

/* line 54, ../sass/screen.scss */
.dark-blue-btn {
  background: #336f7b;
  color: #fff;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  padding: 8px 7px;
  font-family: "Gotham-Bold";
}

/* line 64, ../sass/screen.scss */
.dark-blue-btn:hover {
  background: #234b54;
}

/* line 68, ../sass/screen.scss */
.blue-btn {
  background: #68bed6;
  color: #fff;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  padding: 8px 7px;
  font-family: "Gotham-Bold";
}

/* line 78, ../sass/screen.scss */
.blue-btn:hover {
  background: #3197b5;
}

/* line 84, ../sass/screen.scss */
.site-inner {
  width: 960px;
  margin: 0 auto;
  padding: 15px;
}

/* line 90, ../sass/screen.scss */
.row {
  width: 100%;
}
/* line 92, ../sass/screen.scss */
.row:after {
  content: "";
  display: block;
  clear: both;
}
/* line 98, ../sass/screen.scss */
.row .col-2 {
  width: 50%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
/* line 105, ../sass/screen.scss */
.row .col-4 {
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

/* line 113, ../sass/screen.scss */
header#site-header {
  background: #68bed6;
}

/* line 119, ../sass/screen.scss */
#site-nav ul li {
  display: inline-block;
  margin: 5px 10px;
}

/* line 131, ../sass/screen.scss */
.listing-box ul li {
  display: inline-block;
  margin: 10px;
  border: 1px solid #68bed6;
  box-sizing: border-box;
  padding: 15px;
}

/* line 141, ../sass/screen.scss */
.full-wide {
  width: 100%;
}

/* line 144, ../sass/screen.scss */
form {
  display: inline-block;
  width: 40%;
}
/* line 147, ../sass/screen.scss */
form .form-row {
  margin-bottom: 15px;
}
/* line 150, ../sass/screen.scss */
form .form-row label {
  font-size: 16px;
  line-height: 28px;
}
/* line 155, ../sass/screen.scss */
form .form-row input[type="text"],
form .form-row input[type="email"],
form .form-row input[type="password"],
form .form-row select {
  border: 1px solid #336f7b;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
}
/* line 61, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]:-moz-placeholder,
form .form-row input[type="email"]:-moz-placeholder,
form .form-row input[type="password"]:-moz-placeholder,
form .form-row select:-moz-placeholder {
  color: #bbb;
}
/* line 64, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]::-moz-placeholder,
form .form-row input[type="email"]::-moz-placeholder,
form .form-row input[type="password"]::-moz-placeholder,
form .form-row select::-moz-placeholder {
  color: #bbb;
}
/* line 67, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]:-ms-input-placeholder,
form .form-row input[type="email"]:-ms-input-placeholder,
form .form-row input[type="password"]:-ms-input-placeholder,
form .form-row select:-ms-input-placeholder {
  color: #bbb;
}
/* line 56, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]::-webkit-input-placeholder,
form .form-row input[type="email"]::-webkit-input-placeholder,
form .form-row input[type="password"]::-webkit-input-placeholder,
form .form-row select::-webkit-input-placeholder {
  color: #bbb;
}
/* line 169, ../sass/screen.scss */
form .form-row textarea {
  border: 1px solid #336f7b;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  height: 70px;
}
/* line 176, ../sass/screen.scss */
form .form-row input[type="submit"] {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: #336f7b;
  border: 1px solid #336f7b;
  padding: 3px;
  height: 35px;
}

/* line 189, ../sass/screen.scss */
.block .block-title {
  background: #68bed6;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
/* line 195, ../sass/screen.scss */
.block .block-content {
  padding: 15px;
  box-sizing: border-box;
  color: #68bed6;
  font-size: 14px;
}
/* line 200, ../sass/screen.scss */
.block .block-content p {
  margin-bottom: 5px;
}

/* line 206, ../sass/screen.scss */
.welcome {
  margin-bottom: 25px;
}

/* line 210, ../sass/screen.scss */
#message-sidebar {
  float: left;
  width: 25%;
}

/* line 215, ../sass/screen.scss */
#message-main {
  float: left;
  width: 75%;
}

/* line 222, ../sass/screen.scss */
.giver-profile-block .profile-image {
  width: 300px;
  height: auto;
  float: left;
}
/* line 226, ../sass/screen.scss */
.giver-profile-block .profile-image img {
  width: 100%;
}
