/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 40, ../sass/screen.scss */
body {
  font-family: 'Gotham-Book';
  font-size: 12px;
  color: #164856;
}

/* line 46, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 50, ../sass/screen.scss */
h1 {
  font-size: 22px;
}

/* line 53, ../sass/screen.scss */
h2 {
  font-size: 20px;
}

/* line 56, ../sass/screen.scss */
h3 {
  font-size: 18px;
}

/* line 59, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: 'Gotham-Bold';
  color: #164856;
  margin-bottom: 10px;
}

/* line 65, ../sass/screen.scss */
.dark-blue-btn {
  background: #164856;
  color: #fff;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  padding: 8px 7px;
  font-family: "Gotham-Bold";
}

/* line 75, ../sass/screen.scss */
.dark-blue-btn:hover {
  background: #234b54;
}

/* line 79, ../sass/screen.scss */
.blue-btn {
  background: #1E6073;
  color: #fff;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  padding: 8px 7px;
  font-family: "Gotham-Bold";
}

/* line 89, ../sass/screen.scss */
.blue-btn:hover {
  background: #3197b5;
}

/* line 93, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 97, ../sass/screen.scss */
.site-inner {
  width: 1280px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

/* line 104, ../sass/screen.scss */
.row {
  width: 100%;
}
/* line 106, ../sass/screen.scss */
.row:after {
  content: "";
  display: block;
  clear: both;
}
/* line 111, ../sass/screen.scss */
.row .col-1 {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
/* line 116, ../sass/screen.scss */
.row .col-2 {
  width: 50%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
/* line 123, ../sass/screen.scss */
.row .col-4 {
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

/* line 132, ../sass/screen.scss */
header#site-header .header-top {
  background: #ddd;
  text-align: right;
}
/* line 135, ../sass/screen.scss */
header#site-header .header-top ul {
  display: inline-block;
}
/* line 137, ../sass/screen.scss */
header#site-header .header-top ul li {
  display: inline-block;
  color: #164856;
  margin: 0 5px;
}
/* line 141, ../sass/screen.scss */
header#site-header .header-top ul li a {
  color: #164856;
}
/* line 148, ../sass/screen.scss */
header#site-header .header-content {
  background: #1E6073;
  text-align: center;
}

/* line 157, ../sass/screen.scss */
#main-nav {
  background: #164856;
  overflow: hidden;
}
/* line 160, ../sass/screen.scss */
#main-nav .site-inner {
  overflow: hidden;
}
/* line 163, ../sass/screen.scss */
#main-nav .user-block {
  float: left;
  text-align: left;
  color: #fff;
  overflow: hidden;
}
/* line 168, ../sass/screen.scss */
#main-nav .user-block .user-name {
  color: #fff;
  font-size: 18px;
  margin-top: 18px;
  text-transform: capitalize;
}
/* line 174, ../sass/screen.scss */
#main-nav .user-block img {
  width: 60px;
  float: left;
  margin-right: 25px;
}
/* line 181, ../sass/screen.scss */
#main-nav .user-block-btns {
  float: right;
  text-align: left;
}
/* line 184, ../sass/screen.scss */
#main-nav .user-block-btns a {
  display: inline-block;
  margin: 10px;
  color: #fff;
  font-size: 16px;
}
/* line 192, ../sass/screen.scss */
#main-nav #site-nav {
  float: left;
}
/* line 195, ../sass/screen.scss */
#main-nav #site-nav ul li {
  padding: 10px 10px;
  display: inline-block;
}
/* line 198, ../sass/screen.scss */
#main-nav #site-nav ul li a {
  color: #fff;
  font-size: 16px;
  padding-left: 25px;
}

/* line 209, ../sass/screen.scss */
.page-main {
  padding: 45px 0;
  min-height: 800px;
}

/* line 215, ../sass/screen.scss */
.listing-box {
  padding: 25px 0;
  box-sizing: border-box;
}
/* line 219, ../sass/screen.scss */
.listing-box ul li {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 228, ../sass/screen.scss */
.full-wide {
  width: 100%;
}

/* line 231, ../sass/screen.scss */
form {
  display: inline-block;
  width: 40%;
}
/* line 234, ../sass/screen.scss */
form .form-row-2 {
  margin-bottom: 15px;
}
/* line 236, ../sass/screen.scss */
form .form-row-2 label {
  font-size: 16px;
  line-height: 28px;
}
/* line 240, ../sass/screen.scss */
form .form-row-2 input, form .form-row-2 select {
  border: 1px solid #164856;
  width: 120px;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
}
/* line 61, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row-2 input:-moz-placeholder, form .form-row-2 select:-moz-placeholder {
  color: #bbb;
}
/* line 64, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row-2 input::-moz-placeholder, form .form-row-2 select::-moz-placeholder {
  color: #bbb;
}
/* line 67, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row-2 input:-ms-input-placeholder, form .form-row-2 select:-ms-input-placeholder {
  color: #bbb;
}
/* line 56, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row-2 input::-webkit-input-placeholder, form .form-row-2 select::-webkit-input-placeholder {
  color: #bbb;
}
/* line 252, ../sass/screen.scss */
form .form-row {
  margin-bottom: 15px;
}
/* line 255, ../sass/screen.scss */
form .form-row label {
  font-size: 16px;
  line-height: 28px;
}
/* line 260, ../sass/screen.scss */
form .form-row input[type="text"],
form .form-row input[type="email"],
form .form-row input[type="password"],
form .form-row select {
  border: 1px solid #164856;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
}
/* line 61, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]:-moz-placeholder,
form .form-row input[type="email"]:-moz-placeholder,
form .form-row input[type="password"]:-moz-placeholder,
form .form-row select:-moz-placeholder {
  color: #bbb;
}
/* line 64, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]::-moz-placeholder,
form .form-row input[type="email"]::-moz-placeholder,
form .form-row input[type="password"]::-moz-placeholder,
form .form-row select::-moz-placeholder {
  color: #bbb;
}
/* line 67, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]:-ms-input-placeholder,
form .form-row input[type="email"]:-ms-input-placeholder,
form .form-row input[type="password"]:-ms-input-placeholder,
form .form-row select:-ms-input-placeholder {
  color: #bbb;
}
/* line 56, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
form .form-row input[type="text"]::-webkit-input-placeholder,
form .form-row input[type="email"]::-webkit-input-placeholder,
form .form-row input[type="password"]::-webkit-input-placeholder,
form .form-row select::-webkit-input-placeholder {
  color: #bbb;
}
/* line 274, ../sass/screen.scss */
form .form-row textarea {
  border: 1px solid #164856;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
  height: 70px;
}
/* line 281, ../sass/screen.scss */
form .form-row input[type="submit"] {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: #164856;
  border: 1px solid #164856;
  padding: 3px;
  height: 35px;
}

/* line 294, ../sass/screen.scss */
.block .block-title {
  background: #1E6073;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
/* line 299, ../sass/screen.scss */
.block .block-title .edit-btn {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
}
/* line 307, ../sass/screen.scss */
.block .block-content {
  padding: 15px;
  box-sizing: border-box;
  color: #1E6073;
  font-size: 14px;
}
/* line 312, ../sass/screen.scss */
.block .block-content p {
  margin-bottom: 5px;
}

/* line 318, ../sass/screen.scss */
.welcome {
  margin-bottom: 25px;
}

/* line 324, ../sass/screen.scss */
#message-menu ul li {
  display: inline-block;
  width: 49.5%;
  border: 1px solid #1E6073;
  text-align: center;
  background: #fff;
}
/* line 330, ../sass/screen.scss */
#message-menu ul li a {
  font-size: 16px;
  color: #164856;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 0;
}
/* line 338, ../sass/screen.scss */
#message-menu ul li.active {
  background: #1E6073;
}
/* line 340, ../sass/screen.scss */
#message-menu ul li.active a {
  color: #fff;
}

/* line 350, ../sass/screen.scss */
#message-main {
  padding: 15px;
}
/* line 353, ../sass/screen.scss */
#message-main ul li {
  border-bottom: 1px solid #ccc;
  color: #164856;
  padding: 15px;
  margin-bottom: 25px;
  position: relative;
}
/* line 359, ../sass/screen.scss */
#message-main ul li:first-child {
  border-top: 1px solid #ccc;
}
/* line 363, ../sass/screen.scss */
#message-main ul li .user-img {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
/* line 369, ../sass/screen.scss */
#message-main ul li .user-img img {
  width: 100%;
}
/* line 373, ../sass/screen.scss */
#message-main ul li .message-tease {
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  position: relative;
}
/* line 380, ../sass/screen.scss */
#message-main ul li .message-tease .user-name {
  font-size: 20px;
  font-family: 'Gotham-Bold';
  color: #164856;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 387, ../sass/screen.scss */
#message-main ul li .message-tease .message-content {
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 391, ../sass/screen.scss */
#message-main ul li .message-tease .message-date {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 396, ../sass/screen.scss */
#message-main ul li .message-tease .cta {
  position: absolute;
  right: 0;
  top: 20%;
}
/* line 400, ../sass/screen.scss */
#message-main ul li .message-tease .cta .dark-blue-btn {
  font-size: 20px;
  padding: 10px;
}

/* line 412, ../sass/screen.scss */
.message {
  padding: 15px;
}
/* line 415, ../sass/screen.scss */
.message .user-img {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
/* line 421, ../sass/screen.scss */
.message .user-img img {
  width: 100%;
}
/* line 425, ../sass/screen.scss */
.message .message-tease {
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  position: relative;
}
/* line 432, ../sass/screen.scss */
.message .message-tease .user-name {
  font-size: 20px;
  font-family: 'Gotham-Bold';
  color: #164856;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 439, ../sass/screen.scss */
.message .message-tease .message-content {
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 443, ../sass/screen.scss */
.message .message-tease .message-date {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 450, ../sass/screen.scss */
.message .message-body {
  padding: 15px;
  font-size: 16px;
}
/* line 454, ../sass/screen.scss */
.message .msg-cta {
  padding: 15px;
}

/* line 460, ../sass/screen.scss */
.giver-profile-block .profile-image {
  width: 200px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
/* line 466, ../sass/screen.scss */
.giver-profile-block .profile-image img {
  width: 100%;
}
/* line 471, ../sass/screen.scss */
.giver-profile-block .profile-info {
  display: inline-block;
  vertical-align: top;
}
/* line 474, ../sass/screen.scss */
.giver-profile-block .profile-info h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 479, ../sass/screen.scss */
.giver-profile-block .profile-info .gender {
  text-transform: capitalize;
  margin-bottom: 5px;
}
/* line 483, ../sass/screen.scss */
.giver-profile-block .profile-info .user-location {
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 492, ../sass/screen.scss */
.seeker-profile-block .profile-image {
  width: 300px;
  height: auto;
  float: left;
}
/* line 496, ../sass/screen.scss */
.seeker-profile-block .profile-image img {
  width: 100%;
}

/* line 501, ../sass/screen.scss */
.av-tick {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #000;
}

/* line 513, ../sass/screen.scss */
#avaiability-table td {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  color: #055B05;
}

/* line 521, ../sass/screen.scss */
.av-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 529, ../sass/screen.scss */
.av-icon.a-0 {
  background: #fff;
}

/* line 532, ../sass/screen.scss */
.av-icon.a-1 {
  background: #055B05;
}

/* line 578, ../sass/screen.scss */
#logout-btn {
  background: url(../images/logout-icon.png) no-repeat center left;
  padding: 5px 0 5px 35px;
  background-size: contain;
}

/* line 584, ../sass/screen.scss */
#view-profile-btn {
  background: url(../images/view-profile-icon.png) no-repeat center left;
  padding: 5px 0 5px 35px;
  background-size: contain;
}

/* line 590, ../sass/screen.scss */
.job-view {
  margin-bottom: 25px;
}

/* line 594, ../sass/screen.scss */
.job-block .job-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #164856;
}
/* line 598, ../sass/screen.scss */
.job-block .job-title .active {
  color: green;
}
/* line 601, ../sass/screen.scss */
.job-block .job-title .inactive {
  color: red;
}
/* line 605, ../sass/screen.scss */
.job-block .job-desc {
  font-size: 16px;
  color: #000;
  padding: 15px 0;
}

/* line 613, ../sass/screen.scss */
#site-footer {
  background: #164856;
}
/* line 615, ../sass/screen.scss */
#site-footer .footer-content {
  color: #fff;
  overflow: hidden;
}
/* line 618, ../sass/screen.scss */
#site-footer .footer-content .footer-1 {
  float: left;
  width: 28%;
}
/* line 622, ../sass/screen.scss */
#site-footer .footer-content .footer-2 {
  float: left;
  width: 35%;
  font-size: 12px;
}
/* line 626, ../sass/screen.scss */
#site-footer .footer-content .footer-2 p {
  margin-bottom: 10px;
}
/* line 628, ../sass/screen.scss */
#site-footer .footer-content .footer-2 p a {
  color: #fff;
}
/* line 633, ../sass/screen.scss */
#site-footer .footer-content .footer-3 {
  float: left;
  width: 35%;
  font-size: 11px;
}

/* line 643, ../sass/screen.scss */
.rating-block {
  float: right;
  text-align: center;
  padding: 20px 15px;
  background: #164856;
  color: #fff;
}
/* line 649, ../sass/screen.scss */
.rating-block h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
}
/* line 654, ../sass/screen.scss */
.rating-block i {
  color: #1E6073;
}

/* line 659, ../sass/screen.scss */
.user-block {
  overflow: hidden;
}
/* line 661, ../sass/screen.scss */
.user-block .user-img {
  width: 20%;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
/* line 666, ../sass/screen.scss */
.user-block .user-img img {
  width: 100%;
}
/* line 670, ../sass/screen.scss */
.user-block .user-info {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;
  position: relative;
}
/* line 676, ../sass/screen.scss */
.user-block .user-info .user-name {
  font-size: 32px;
  font-family: "Gotham-Bold";
  color: #164856;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 683, ../sass/screen.scss */
.user-block .user-info .user-exp {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
/* line 688, ../sass/screen.scss */
.user-block .user-info .user-rate {
  font-size: 14px;
  color: #1E6073;
  margin-bottom: 15px;
}
/* line 693, ../sass/screen.scss */
.user-block .user-info .user-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
/* line 701, ../sass/screen.scss */
.user-block .user-right-box {
  width: 20%;
  color: #fff;
  box-sizing: border-box;
  float: right;
  background: #164856;
  text-align: center;
  padding: 20px 15px;
}
/* line 709, ../sass/screen.scss */
.user-block .user-right-box h2 {
  font-size: 32px;
  color: #fff;
}
/* line 713, ../sass/screen.scss */
.user-block .user-right-box .user-rate {
  margin-bottom: 15px;
}
/* line 715, ../sass/screen.scss */
.user-block .user-right-box .user-rate p {
  font-size: 20px;
}
/* line 720, ../sass/screen.scss */
.user-block .user-right-box .year-exp p {
  font-size: 16px;
}

/* line 727, ../sass/screen.scss */
.filter-sidebar {
  width: 20%;
  float: left;
  border: 1px solid #164856;
  box-sizing: border-box;
  padding: 30px 15px;
}
/* line 733, ../sass/screen.scss */
.filter-sidebar form {
  width: 100%;
}
/* line 736, ../sass/screen.scss */
.filter-sidebar h2 {
  font-size: 20px;
  margin-bottom: 35px;
}
/* line 740, ../sass/screen.scss */
.filter-sidebar .form-ele {
  width: 100%;
  margin-bottom: 15px;
}
/* line 743, ../sass/screen.scss */
.filter-sidebar .form-ele label {
  font-size: 14px;
  color: #164856;
  display: block;
  margin-bottom: 5px;
}
/* line 749, ../sass/screen.scss */
.filter-sidebar .form-ele select {
  width: 100%;
  border: 1px solid #164856;
  color: #164856;
  padding: 10px;
  text-transform: uppercase;
}
/* line 757, ../sass/screen.scss */
.filter-sidebar .form-ele input[type="text"] {
  width: 100%;
  border: 1px solid #164856;
  color: #164856;
  padding: 10px;
  box-sizing: border-box;
}
/* line 764, ../sass/screen.scss */
.filter-sidebar .form-ele input[type="submit"] {
  width: 100%;
  background: #164856;
  color: #fff;
  border: 0;
  font-size: 20px;
  padding: 10px;
}

/* line 775, ../sass/screen.scss */
.content-with-sidebar {
  width: 80%;
  float: left;
  box-sizing: border-box;
  padding-left: 30px;
}

/* line 785, ../sass/screen.scss */
.giver-list-block .listing-box ul li {
  border: 0;
  border-bottom: 1px solid #ccc;
}

/* line 793, ../sass/screen.scss */
.tool-bar {
  text-align: right;
}
/* line 795, ../sass/screen.scss */
.tool-bar #sort-by {
  text-transform: uppercase;
}

/* line 802, ../sass/screen.scss */
.service2-list li {
  display: inline-block;
  width: 30%;
  margin-bottom: 10px;
}
/* line 806, ../sass/screen.scss */
.service2-list li input {
  vertical-align: middle;
}
/* line 809, ../sass/screen.scss */
.service2-list li span {
  vertical-align: middle;
}

/* line 815, ../sass/screen.scss */
.msg-notify {
  display: inline-block;
  background: #BC1414;
  padding: 4px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 18px;
  height: 18px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 829, ../sass/screen.scss */
.register-block {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  padding: 0 15px;
}
/* line 834, ../sass/screen.scss */
.register-block form {
  width: 100%;
}

/* line 839, ../sass/screen.scss */
.pagination-block {
  text-align: right;
}
/* line 842, ../sass/screen.scss */
.pagination-block .pagination li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  background: #1E6073;
  color: #fff;
}
/* line 848, ../sass/screen.scss */
.pagination-block .pagination li a {
  color: #fff;
}
/* line 851, ../sass/screen.scss */
.pagination-block .pagination li.active {
  background: #164856;
}
