html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
}

a, p, span, ul, li, address, input, textarea {
  font-family: "proxima-nova", sans-serif;
  line-height: 22px;
}

textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #909090;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3, h4 {
  color: #164856;
  margin-bottom: 10px;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

.welcome.title h1 {
  font-size: 42px;
  margin: 10px 0px 40px 0px;
}

.home-page .page-main {
  background: url(images/temp-image.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "proxima-nova", sans-serif;
}

.clear {
  clear: both;
}

.site-inner {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.full-wide {
  width: 100%;
}

.row {
  width: 100%;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.row .col-1 {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.row .col-2 {
  width: 50%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.row .col-4 {
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.page-main {
  padding: 45px 0;
  min-height: 800px;
}
.page-main .page-title {
  font-size: 34px;
  color: #164856;
  margin-bottom: 25px;
}
.page-main .page-title h2 {
  font-size: 32px;
}

.welcome {
  margin-bottom: 25px;
}

.content-with-sidebar {
  width: 80%;
  float: left;
  box-sizing: border-box;
  padding-left: 30px;
}

.service2-list li {
  display: inline-block;
  width: 30%;
  margin-bottom: 10px;
}
.service2-list li input {
  vertical-align: middle;
}
.service2-list li span {
  vertical-align: middle;
}

.register-block {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  padding: 0 15px;
}
.register-block p {
  margin-bottom: 25px;
}
.register-block form {
  width: 100%;
}

.sub-list ul li {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.sub-list ul li .user-block .user-img {
  width: 25%;
}
.sub-list ul li:nth-child(2n) {
  border-left: 2px solid #ccc;
}

header#site-header .header-top {
  padding: 15px 0;
  background: #fff;
  text-align: left;
  display: block;
  display: block;
  width: 100%;
  float: left;
}
header#site-header .header-top ul {
  display: inline-block;
}
header#site-header .header-top ul li {
  display: inline-block;
  color: #000;
  margin: 0 5px;
}
header#site-header .header-top ul li a {
  color: #000;
  font-size: 14px;
}
header#site-header .header-top ul li i {
  color: #164856;
}
header#site-header .header-top .contact {
  float: left;
}
header#site-header .header-top .contact i {
  margin-right: 5px;
}
header#site-header .header-top #sub-nav {
  float: right;
}
header#site-header .header-content {
  padding: 15px 0;
  background: #1E6073;
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  overflow: visible;
}
header#site-header .header-content .site-inner {
  position: relative;
  overflow: visible;
}
header#site-header .header-content .logo {
  float: left;
}
header#site-header .header-content .account-block {
  position: absolute;
  top: 0px;
  right: 20px;
  text-align: left;
  float: right;
  color: #fff;
  z-index: 999;
}
header#site-header .header-content .account-block .account-inner {
  padding: 0px 0px 0px 0px;
}
header#site-header .header-content .account-block .account-block-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
header#site-header .header-content .account-block .account-block-img img {
  width: 50px;
  border: 2px solid #fff;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -ms-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
}
header#site-header .header-content .account-block .account-block-content {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  padding-top: 9px;
}
header#site-header .header-content .account-block .account-block-content .user-name {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
header#site-header .header-content .account-block .account-block-content .user-type {
  font-size: 14px;
}
header#site-header .header-content .account-block #account-down {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #fff;
  margin-top: 25px;
}

.account-block.actived #account-block-menu {
  display: block;
}

#account-block-menu {
  display: none;
  background: #fff;
  z-index: 99;
  position: absolute;
  right: -3px;
  top: 60px;
  background: transparent;
}
#account-block-menu ul {
  width: 200px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px #1E6073 solid;
  position: relative;
}
#account-block-menu ul:after {
  right: 3px;
  top: -10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(172, 0, 53, 0);
  border-bottom-color: #fff;
  border-width: 5px;
}
#account-block-menu ul li {
  width: 100%;
  background-color: #fff;
  padding: 5px 5%;
  color: #1E6073;
  box-sizing: border-box;
  font-weight: 600;
  border-top: rgba(22, 72, 86, 0.4) 1px dashed;
}
#account-block-menu ul li i {
  width: 20px;
}
#account-block-menu ul li:hover {
  background-color: #164856;
}
#account-block-menu ul li:hover a {
  color: #fff;
}
#account-block-menu ul li:first-child {
  border: 0;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
#account-block-menu ul li:last-child {
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
#account-block-menu ul li a {
  display: block;
  color: #1E6073;
  font-size: 14px;
}

nav#main-nav {
  background: #164856;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  float: left;
}
nav#main-nav .nav-inner {
  position: relative;
}
nav#main-nav #mb-btn {
  color: #fff;
  font-size: 35px;
  display: none;
  padding: 0 10px;
}
nav#main-nav #site-nav {
  display: inline-block;
  padding: 5px 0;
  width: 100%;
}
nav#main-nav #site-nav ul li {
  padding: 10px 10px;
  display: inline-block;
  color: #fff;
}
nav#main-nav #site-nav ul li a {
  color: #fff;
  font-size: 16px;
}
nav#main-nav #site-nav ul .inbox {
  float: right;
  padding-right: 35px;
}

.dark-blue-btn {
  background: #164856;
  color: #fff;
  display: inline-block;
  position: relative;
  border: 0;
  padding: 6px 27px;
  font-weight: 600;
  border-bottom: 5px solid #1E6073;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.dark-blue-btn:hover {
  background: #3197b5;
}

.blue-btn {
  background: #1E6073;
  color: #fff;
  display: inline-block;
  position: relative;
  border: 0;
  font-weight: 600;
  padding: 6px 27px;
  border-bottom: 5px solid #164856;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.blue-btn:hover {
  background: #3197b5;
}

.view {
  padding: 6px 27px 6px 37px;
}
.view:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f002';
  color: #fff;
  left: 14px;
  opacity: 0.6;
  font-size: 13px;
  top: 7px;
}
.view:hover:after {
  opacity: 1;
}

.edit {
  padding: 6px 27px 6px 37px;
}
.edit:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f040';
  color: #fff;
  left: 14px;
  opacity: 0.6;
  font-size: 13px;
  top: 7px;
}
.edit:hover:after {
  opacity: 1;
}

.delete {
  padding: 6px 27px 6px 37px;
}
.delete:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f1f8';
  color: #fff;
  left: 14px;
  opacity: 0.6;
  font-size: 13px;
  top: 7px;
}
.delete:hover:after {
  opacity: 1;
}

.edit-btn {
  display: inline-block;
  background: #1E6073;
  font-weight: 600;
  padding: 4px 16px 4px 30px;
  float: left;
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
  position: absolute;
  top: 5px;
}
.edit-btn:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 10px;
  padding-right: 0em;
  position: absolute;
  top: 3px;
  left: 11px;
  content: '\f040';
}

.message {
  padding: 15px;
}
.message .user-img {
  width: 15%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.message .user-img img {
  width: 100%;
}
.message .message-tease {
  width: 60%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  position: relative;
}
.message .message-tease .user-name {
  font-size: 20px;
  color: #164856;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.message .message-tease .message-content {
  font-size: 16px;
  margin-bottom: 15px;
}
.message .message-tease .message-date {
  margin-bottom: 15px;
}
.message .message-body {
  padding: 15px;
  font-size: 16px;
}
.message .msg-cta {
  padding: 15px;
}

#message-menu ul li {
  display: inline-block;
  width: 49.5%;
  border: 1px solid #1E6073;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#message-menu ul li a {
  font-size: 14px;
  color: #164856;
  display: block;
  height: 100%;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
}
#message-menu ul li.active {
  background: #1E6073;
}
#message-menu ul li.active a {
  color: #fff;
}

#message-main {
  padding: 15px;
}
#message-main ul li {
  border-bottom: 1px solid #ccc;
  color: #164856;
  padding: 15px;
  margin-bottom: 25px;
  position: relative;
}
#message-main ul li:first-child {
  border-top: 0px solid #ccc;
}
#message-main ul li .user-img {
  width: 15%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
#message-main ul li .user-img img {
  width: 100%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}
#message-main ul li .message-tease {
  width: 78%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  position: relative;
}
#message-main ul li .message-tease .user-name {
  font-size: 20px;
  color: #164856;
  margin-bottom: 15px;
  text-transform: capitalize;
}
#message-main ul li .message-tease .user-name span {
  color: #164856;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 600;
}
#message-main ul li .message-tease .user-name h2 {
  color: #343434;
}
#message-main ul li .message-tease .message-content {
  font-size: 16px;
  margin-bottom: 15px;
}
#message-main ul li .message-tease .message-date {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  color: #1E6073;
  float: left;
}
#message-main ul li .message-tease .message-date span {
  clear: both;
  float: left;
}
#message-main ul li .message-tease .message-date i {
  width: 20px;
  color: #164856;
}
#message-main ul li .message-tease .cta {
  float: left;
  margin-left: 30px;
}
#message-main ul li .message-tease .cta a i {
  opacity: 0.5;
  margin-right: 10px;
}

.message .message-list-block aside.contact {
  float: left;
  width: 11%;
}
.message .message-list-block aside.contact .user-img {
  display: block;
  width: 100%;
  float: left;
}
.message .message-list-block aside.contact img {
  width: 100%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}
.message .message-list-block .user-name span {
  display: block;
  width: 100%;
  float: left;
  color: #164856;
  font-size: 14px;
  font-weight: 600;
}
.message .message-list-block .message-content span {
  display: block;
  width: 100%;
  float: left;
  color: #164856;
  font-size: 14px;
  font-weight: 600;
}
.message .message-list-block .message-date {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  color: #1E6073;
  float: left;
  font-style: normal;
}
.message .message-list-block .message-date span {
  clear: both;
  float: left;
}
.message .message-list-block .message-date i {
  width: 20px;
  color: #164856;
}

.msg-notify {
  display: inline-block;
  background: #fff;
  padding: 4px 6px;
  font-size: 11px;
  border: 2px solid #1e6073;
  color: #000;
  position: absolute;
  top: 12px;
  line-height: 12px;
  right: 0px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.giver-profile .profile-block .content {
  width: 80%;
}
.giver-profile .profile-block .content .block {
  float: left;
  display: block;
  width: 100%;
  float: left;
}
.giver-profile .profile-block .content .education {
  border-bottom: 1px #164856 solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.giver-profile .profile-block .content .service-cats,
.giver-profile .profile-block .content .service-rate,
.giver-profile .profile-block .content .services,
.giver-profile .profile-block .content .qualifications {
  float: left;
  width: 25%;
  margin-bottom: 30px;
}

.profile-block {
  margin-top: 40px;
}
.profile-block aside.contact {
  float: left;
  width: 15%;
  min-height: 300px;
  position: relative;
}
.profile-block aside.contact .edit-btn {
  position: relative;
}
.profile-block aside.contact i {
  width: 20px;
}
.profile-block aside.contact p {
  font-weight: 600;
}
.profile-block aside.contact .dark-blue-btn {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
}
.profile-block aside.contact .dark-blue-btn i {
  opacity: 0.7;
  font-size: 13px;
}
.profile-block aside.contact .profile-image {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}
.profile-block aside.contact .profile-image img {
  width: 100%;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  border-radius: 300px;
}
.profile-block aside.contact h3 {
  margin-top: 20px;
}
.profile-block aside.contact ul li {
  display: inline-block;
  margin-bottom: 15px;
  padding-left: 0px;
  box-sizing: border-box;
  font-weight: bold;
  position: relative;
}
.profile-block aside.contact span {
  font-weight: 600;
  width: 100%;
  float: left;
  font-size: 14px;
  color: #164856;
}
.profile-block .content {
  float: left;
  width: 55%;
  padding: 0px 2.5%;
  min-height: 300px;
}
.profile-block .content .block {
  position: relative;
}
.profile-block .content .block .edit-btn {
  top: 13px;
  right: 0px;
}
.profile-block .content .block-bio {
  display: block;
  width: 100%;
  float: left;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #164856;
}
.profile-block .content p {
  line-height: 20px;
  margin-bottom: 10px;
}
.profile-block aside.ratings {
  float: left;
  width: 25%;
  min-height: 300px;
}
.profile-block .profile-info {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.profile-block .profile-info h2 {
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.profile-block .profile-info h3.last-login {
  font-size: 12px;
  margin-bottom: 15px;
}
.profile-block .profile-info .gender {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.profile-block .profile-info .user-location {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile-block .profile-info .user-status {
  margin-bottom: 10px;
}
.profile-block .profile-info .user-background-check {
  margin-bottom: 20px;
}

.filter-sidebar {
  width: 20%;
  float: left;
  padding: 1.5%;
  background-color: #e3e3e3;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.filter-sidebar form {
  width: 100%;
}
.filter-sidebar .form-ele {
  width: 100%;
  margin-bottom: 15px;
}
.filter-sidebar .form-ele input[type="text"],
.filter-sidebar .form-ele select {
  border: 1px solid #909090;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.filter-sidebar .form-ele input[type="text"]:-moz-placeholder,
.filter-sidebar .form-ele select:-moz-placeholder {
  color: #bbb;
}
.filter-sidebar .form-ele input[type="text"]::-moz-placeholder,
.filter-sidebar .form-ele select::-moz-placeholder {
  color: #bbb;
}
.filter-sidebar .form-ele input[type="text"]:-ms-input-placeholder,
.filter-sidebar .form-ele select:-ms-input-placeholder {
  color: #bbb;
}
.filter-sidebar .form-ele input[type="text"]::-webkit-input-placeholder,
.filter-sidebar .form-ele select::-webkit-input-placeholder {
  color: #bbb;
}
.filter-sidebar .form-ele label {
  font-size: 14px;
  color: #164856;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}
.filter-sidebar .checkbox {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  float: left;
}
.filter-sidebar .checkbox label {
  margin-top: 10px;
  display: block;
  width: 100%;
  float: left;
}
.filter-sidebar .checkbox div {
  display: block;
  width: 100%;
  float: left;
  border-top: 1px dashed rgba(22, 72, 86, 0.5);
  padding: 5px 0px;
}
.filter-sidebar .checkbox div:nth-child(2) {
  border-top: 0px solid #fff;
}
.filter-sidebar .checkbox div input {
  margin-left: 0px;
}
.filter-sidebar .checkbox div span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.filter-sidebar input[type="submit"] {
  width: auto;
  color: #fff;
  float: left;
  background: #1E6073;
  border: 1px solid #1E6073;
  padding: 6px 27px;
  border-bottom: 5px solid #164856;
  font-size: 16px;
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.user-block {
  overflow: hidden;
}
.user-block .user-img {
  width: 20%;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
.user-block .user-img img {
  width: 100%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}
.user-block .user-info {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding: 10px 20px;
  position: relative;
  font-size: 14px;
}
.user-block .user-info .user-name {
  font-size: 32px;
  color: #164856;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.user-block .user-info .last-login span {
  font-weight: bold;
}
.user-block .user-info .user-location {
  margin-bottom: 20px;
}
.user-block .user-info .user-location i {
  color: #164856;
  margin-right: 5px;
}
.user-block .user-info .user-exp {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 20px;
}
.user-block .user-info .user-exp span {
  font-weight: 600;
}
.user-block .user-info .user-rate {
  font-size: 14px;
  color: #1E6073;
  margin-bottom: 15px;
}
.user-block .user-info .user-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.user-block .user-info .sub-content {
  padding: 15px 0;
}
.user-block .user-info .sub-content h2 {
  font-size: 16px;
}
.user-block .user-right-box {
  width: 20%;
  color: #fff;
  box-sizing: border-box;
  float: right;
  text-align: left;
  padding: 0px 15px 20px 15px;
  color: #000;
}
.user-block .user-right-box * {
  color: #000;
}
.user-block .user-right-box h3 {
  font-size: 32px;
  margin: 0px 0px 0px 0px;
}
.user-block .user-right-box span {
  display: block;
  width: 100%;
  float: left;
  color: #164856;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}
.user-block .user-right-box p {
  font-weight: 600;
  font-size: 18px;
}
.user-block .user-right-box i {
  font-size: 18px;
  color: #1E6073;
}
.user-block .user-right-box .cta {
  display: block;
  width: 100%;
  float: left;
}
.user-block .user-right-box .cta a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
}

.listing-box {
  padding: 25px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.listing-box ul li {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
}

.job-view {
  margin-bottom: 25px;
}
.job-view .job-description {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: #e3e3e3 solid 1px;
}

.job-block .job-content {
  float: left;
  width: 65%;
}
.job-block .job-title {
  float: left;
  width: 60%;
}
.job-block .job-title h3 {
  font-size: 32px;
  color: #164856;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.job-block .job-state {
  float: right;
  width: auto;
  font-weight: 600;
  position: relative;
}
.job-block .active {
  background-color: #2F8A2F;
  color: #fff;
  width: auto;
  text-align: right;
  padding: 9px 20px 9px 33px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  float: right;
}
.job-block .active:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f00c';
  color: #fff;
  left: 11px;
  font-size: 13px;
}
.job-block .inactive {
  background-color: red;
  color: #fff;
  width: auto;
  text-align: right;
  padding: 9px 20px 9px 33px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  float: right;
}
.job-block .inactive:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f00d';
  color: #fff;
  left: 11px;
  font-size: 13px;
}
.job-block .job-desc {
  font-size: 16px;
  display: block;
  width: 100%;
  float: left;
  color: #000;
  padding: 15px 0;
}
.job-block .job-action {
  display: block;
  width: 100%;
  float: left;
}
.job-block .job-snapshot {
  float: left;
  width: 25%;
  padding-left: 5%;
}
.job-block .job-snapshot span:first-child {
  margin-top: 0px;
}
.job-block .job-snapshot span {
  display: block;
  width: 100%;
  float: left;
  color: #164856;
  font-weight: 600;
  line-height: 16px;
  margin: 15px 0px 5px 0px;
  font-size: 14px;
}
.job-block .job-snapshot p {
  font-weight: 600;
  font-size: 18px;
}
.job-block .job-snapshot i {
  margin-right: 5px;
}

.post-a-job form {
  display: block;
  width: 100%;
  float: left;
}
.post-a-job form label {
  display: block;
  width: 100%;
  float: left;
}
.post-a-job form .form-row.service > div {
  float: left;
  width: auto;
  width: 33%;
  padding-top: 5px;
}
.post-a-job form .form-row.postcode,
.post-a-job form .form-row.start {
  width: 48%;
  float: left;
}
.post-a-job form .form-row.postcode {
  margin-right: 2%;
}

form {
  display: inline-block;
  width: 40%;
}
form .half {
  width: 48%;
  float: left;
}
form .half.first {
  margin-right: 2%;
}
form .half:first-child {
  display: none;
}
form .form-row-2 {
  margin-bottom: 15px;
}
form .form-row-2 label {
  font-size: 16px;
  line-height: 28px;
}
form .form-row-2 input, form .form-row-2 select {
  border: 1px solid #164856;
  width: 120px;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
}
form .form-row-2 input:-moz-placeholder, form .form-row-2 select:-moz-placeholder {
  color: #bbb;
}
form .form-row-2 input::-moz-placeholder, form .form-row-2 select::-moz-placeholder {
  color: #bbb;
}
form .form-row-2 input:-ms-input-placeholder, form .form-row-2 select:-ms-input-placeholder {
  color: #bbb;
}
form .form-row-2 input::-webkit-input-placeholder, form .form-row-2 select::-webkit-input-placeholder {
  color: #bbb;
}
form .form-row.submit {
  margin-bottom: 0px;
}
form .form-row {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  float: left;
}
form .form-row label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #164856;
}
form .form-row input[type="text"],
form .form-row input[type="email"],
form .form-row input[type="password"],
form .form-row select {
  border: 1px solid #909090;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  padding: 3px 0 3px 10px;
  height: 35px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
form .form-row input[type="text"]:-moz-placeholder,
form .form-row input[type="email"]:-moz-placeholder,
form .form-row input[type="password"]:-moz-placeholder,
form .form-row select:-moz-placeholder {
  color: #bbb;
}
form .form-row input[type="text"]::-moz-placeholder,
form .form-row input[type="email"]::-moz-placeholder,
form .form-row input[type="password"]::-moz-placeholder,
form .form-row select::-moz-placeholder {
  color: #bbb;
}
form .form-row input[type="text"]:-ms-input-placeholder,
form .form-row input[type="email"]:-ms-input-placeholder,
form .form-row input[type="password"]:-ms-input-placeholder,
form .form-row select:-ms-input-placeholder {
  color: #bbb;
}
form .form-row input[type="text"]::-webkit-input-placeholder,
form .form-row input[type="email"]::-webkit-input-placeholder,
form .form-row input[type="password"]::-webkit-input-placeholder,
form .form-row select::-webkit-input-placeholder {
  color: #bbb;
}
form .form-row input[type="password"] {
  background: url(images/padlock.png) no-repeat 7px center;
  background-size: 20px 20px;
  padding-left: 30px;
}
form .form-row input[type="email"] {
  background: url(images/mail.png) no-repeat 7px center;
  background-size: 20px 20px;
  padding-left: 30px;
}
form .form-row textarea {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  padding: 2.5%;
  height: 70px;
}
form .form-row input[type="submit"] {
  width: auto;
  color: #fff;
  float: left;
  background: #1E6073;
  border: 1px solid #1E6073;
  padding: 6px 27px;
  border-bottom: 5px solid #164856;
  font-size: 16px;
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
form .desc textarea {
  min-height: 300px;
}

.login-block {
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  width: 35%;
  margin-right: 5%;
  box-sizing: border-box;
  padding: 2.5%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.login-block form {
  width: 100%;
}
.login-block form .first,
.login-block form .second {
  width: 49%;
  float: left;
}
.login-block form .first {
  margin-right: 2%;
}

.register-block-container {
  background-color: #fff;
  float: left;
  width: 60%;
  box-sizing: border-box;
  padding: 2.5%;
  min-height: 253px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.register-block-container p {
  line-height: 22px;
  margin-top: 20px;
}
.register-block-container .register-block {
  float: left;
  width: 50%;
}

.testimonial-block {
  display: block;
  width: 100%;
  float: left;
  min-height: 200px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 2.5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.testimonial-block h1 {
  margin-bottom: 20px;
}
.testimonial-block .testimonial-featured {
  width: 15%;
  float: left;
}
.testimonial-block .testimonial-content {
  width: 70%;
  float: left;
}
.testimonial-block .testimonial-content h3 {
  font-size: 26px;
  margin-top: 10px;
}
.testimonial-block .testimonial-content p {
  line-height: 22px;
}

.block .block-title {
  color: #164856;
  font-size: 18px;
  margin-top: 20px;
}
.block .block-title .edit-btn {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
}
.block .block-content {
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
}
.block .block-content p {
  margin-bottom: 5px;
}

.pagination-block {
  text-align: right;
}
.pagination-block .pagination li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  background: #1E6073;
  color: #fff;
}
.pagination-block .pagination li a {
  color: #fff;
}
.pagination-block .pagination li.active {
  background: #164856;
}

.flash {
  padding: 20px 35px;
  font-size: 18px;
  margin: 10px 0px;
  font-weight: 600;
  width: auto;
}
.flash p {
  font-size: 14px;
}
.flash.alert-info {
  color: #0C9A0C;
}
.flash.alert-danger {
  color: #fff;
  background-color: #d80808;
}

#forgot_password {
  display: inline-block;
  font-size: 16px;
  float: right;
  opacity: 0.7;
  line-height: 28px;
  color: #164856;
  text-decoration: underline;
  margin-left: 25px;
}

.giver-list-block .listing-box ul li {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.tool-bar {
  border-bottom: dashed 1px #e3e3e3;
  text-align: left;
}

.av-tick {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #000;
}

#avaiability-table td {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  color: #164856;
  font-weight: 600;
}

.av-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.av-icon.a-0 {
  background: #fff;
}

.av-icon.a-1 {
  background: transparent;
  position: relative;
}
.av-icon.a-1:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
  content: '\f00c';
  top: 2px;
}

#site-footer {
  background: #343434;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 50px;
  height: auto;
  font-size: 14px;
  line-height: 20px;
}
#site-footer a, #site-footer h3 {
  color: #fff;
}
#site-footer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}
#site-footer .logo {
  margin-top: 1px;
  margin-bottom: 20px;
}
#site-footer .social i {
  margin-right: 10px;
}
#site-footer .copyright {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
#site-footer p, #site-footer ul, #site-footer li, #site-footer i {
  opacity: 0.8;
}
#site-footer p .address, #site-footer ul .address, #site-footer li .address, #site-footer i .address {
  margin-top: 10px;
  margin-bottom: 10px;
}
#site-footer .contact-details li {
  padding-left: 30px;
  position: relative;
}
#site-footer .contact-details li:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #fff;
  font-size: 13px;
  padding-right: 0em;
  position: absolute;
  top: 0px;
  left: 0;
}
#site-footer .contact-details .phone:after {
  content: '\f095';
}
#site-footer .contact-details .address:after {
  content: '\f015';
}
#site-footer .contact-details .email:after {
  content: '\f003';
}
#site-footer .contact-details .map:after {
  content: '\f041';
}
#site-footer h3 {
  font-weight: 600;
}
#site-footer .footer-content {
  overflow: hidden;
}
#site-footer .fourth {
  display: inline-block;
  width: 25%;
  float: left;
}

@media screen and (max-width: 1280px) {
  .site-inner {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #main-menu-block {
    display: none;
    padding: 20px 0;
  }

  #site-footer .footer-content .footer-1, #site-footer .footer-content .footer-2, #site-footer .footer-content .footer-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  nav#main-nav #site-nav ul li {
    width: 100%;
    box-sizing: border-box;
  }
  nav#main-nav #mb-btn {
    display: inline-block;
  }

  form {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .header-top {
    display: none;
  }

  .filter-sidebar {
    width: 100%;
  }

  .content-with-sidebar {
    width: 100%;
    padding: 0;
  }

  .tool-bar {
    text-align: center;
  }

  .user-right-box {
    display: none;
  }

  .user-rating {
    display: none;
  }

  #avaiability-table td {
    padding: 3px;
  }
}
