.dark-blue-btn{
	background: $dark-blue;
	color:#fff;
	display:inline-block;
	position: relative;
	border:0;
	padding: 6px 27px;
	font-weight: $bold;
	border-bottom: 5px solid $blue;
	@include border-radius (4px);
	@include transition(all 0.2s linear);
}

.dark-blue-btn:hover{
	background: $dark-blue-hover;
}

.blue-btn{
	background: $blue;
	color:#fff;
	display:inline-block;
	position: relative;
	border:0;
	font-weight: $bold;
	padding: 6px 27px;
	border-bottom: 5px solid $dark-blue;
	@include border-radius (4px);
	@include transition(all 0.2s linear);

}

.blue-btn:hover{
	background: $blue-hover;
}

.view {
	padding: 6px 27px 6px 37px;
	&:after {
		@include fontawesome;
		content: '\f002';
		color: #fff;
		left: 14px;
		opacity: 0.6;
		font-size: 13px;
		top: 7px;
	}

	&:hover:after {
		opacity: 1;
	}
}

.edit {
	padding: 6px 27px 6px 37px;
	&:after {
		@include fontawesome;
		content: '\f040';
		color: #fff;
		left: 14px;
		opacity: 0.6;
		font-size: 13px;
		top: 7px;
	}

	&:hover:after {
		opacity: 1;
	}
}

.delete {
	padding: 6px 27px 6px 37px;
	&:after {
		@include fontawesome;
		content: '\f1f8';
		color: #fff;
		left: 14px;
		opacity: 0.6;
		font-size: 13px;
		top: 7px;
	}
	
	&:hover:after {
		opacity: 1;
	}
}

.edit-btn{
	display:inline-block;
	background: $orange;
	font-weight: $bold;
	padding: 4px 10px;
	float: left;
	color:#fff;
	font-size: 14px;
	margin-right: 15px;
	position: absolute;
	top: 5px;
}