
#site-footer{
	background: $darkgrey;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 50px;
	height: auto;
	font-size: 14px;
	line-height: 20px;

	img {
		max-width: 100%;
		height: auto;
	}

	a, h3 {
		color: #fff;
	}

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 22px;
	}

	.logo {
		margin-top: 1px;
		margin-bottom: 20px;

		@include bp-small {
			display: none;
		}
	}

	.social {
		i {
			margin-right: 10px;
		}
	}

	.copyright {
		@include full;
		margin-bottom: 20px;
	}

	p, ul, li, i {
		opacity: 0.8;

		.address {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.contact-details {
		li {
			padding-left: 30px;
			position: relative;

			&:after {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				/*--adjust as necessary--*/
				color: #fff;
				font-size: 13px;
				padding-right: 0em;
				position: absolute;
				top: 0px;
				left: 0;
			}
		}

		.phone:after {content: '\f095'}
		.address:after {content: '\f015'}
		.email:after {content: '\f003'}
		.map:after {content: '\f041'}
	}

	h3 {
		font-weight: $bold;
	}

	.footer-content {
		overflow: hidden;
	}

	.fourth {
		display: inline-block;
		width: 25%;
		float: left;

		@include bp-mlarge {
			width: 31%;

			&:nth-child(2) {
				margin-left: 3.5%;
				margin-right: 3.5%;
			}

			&:last-child {
				display: none;
			}
		}

		@include bp-small {
			width: 100%;
			margin-bottom: 10px;

			&:nth-child(2) {
				margin-left: 0px;
				margin-right: 0px;
				width: 50%;
			}

			&:nth-child(3) {
				margin-left: 0px;
				margin-right: 0px;
				width: 50%;

				li {
					padding-left: 0px;
					@include full;

					&:after {
						display: none;
					}
				}
			}

			&:last-child {
				display: block;
			}
		}
	}
}