
// header
header#site-header{
	.header-top{
		padding: 0px 0;
		background:#fff;
		text-align: left;
		display: block;
		@include full;

		@include bp-large {
			padding: 10px 0px;
		}

		@include bp-small {
			padding: 0px 0px 0px 0px;
		}

		ul{
			display:inline-block;
			position: relative;

			li{
				display:inline-block;
				color: #000;
				margin:0 5px;
				padding: 15px 0px;
				position: relative;

				&:before {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 0px;
					width: 100%;
					background-color: $blue;
					content: '';
					@include transition (all 0.1s linear);
				}

				&:hover {
					&:before {
						position: absolute;
						top: 0px;
						left: 0px;
						height: 4px;
						width: 100%;
						background-color: $blue;
						content: '';
					}					
				}

				a{
					color: #000;
					font-size: 14px;
					display:block;
				}

				i {
					color: $dark-blue;
				}
			}
		}

		.contact {	
			float: left;

			@include bp-mlarge {
				display: none;
			}

			ul {
				li {
					&:before {
						display: none;
					}
				}
			}

			i {
				margin-right: 5px;
			}

		}

		#sub-nav {
			float: right;

			@include bp-mlarge {
				float: left;
			}

			@include bp-small {
				display: none;
			}
		}
	}
	.header-content{
		padding: 15px 0;
		background:$blue;
		@include full;
		text-align: center;
		position: relative;
		overflow: visible;

		@include bp-small {
			border-bottom: $dark-blue solid 10px;
			border-top: $dark-blue solid 10px;
			margin-bottom: 20px;
		}

		.site-inner {
			position: relative;
			overflow: visible;
		}

		.logo {
			float: left;
		}

		.menu-btn {
			color: #fff;
			font-weight: 900;
			font-size: 22px;
			position: absolute;
			top: 15px;
			right: 16px;
			display: none;

			@include bp-small {
				display: block;
			} 
		}

		.account-block{
			position: absolute;
			top: 0px;
			right: 20px;
			text-align: left;
			float: right;
			color:#fff;
			z-index:999;

			@include bp-small {
				display: none;
			}
			
			.account-inner{
				padding: 0px 0px 0px 0px;
			}
			.account-block-img{
				display:inline-block;
				vertical-align: top;
				margin-right: 10px;

				img{
					width: 50px;
					border: 2px solid #fff;	
					@include border-radius (50px 50px 50px 50px);
				}
			}
			.account-block-content{
				display:inline-block;
				vertical-align: top;
				margin-right: 15px;
				padding-top: 9px;
				.user-name{
					color:#fff;
					font-size: 18px;
					margin-bottom: 5px;
					text-transform: capitalize;
				}
				.user-type{
					font-size: 14px;
				}

			}
			#account-down{
				display:inline-block;
				vertical-align: top;
				font-size: 10px;
				color:#fff;
				margin-top: 25px;
			}	

			
		}
	}
}

.account-block.actived {
	#account-block-menu {
		display: block;
	}
}
// end of header

#account-block-menu{
	display:none;
	background: #fff;
	z-index:99;
	position: absolute;
	right: -3px;
	top: 60px;
	background: transparent;



	ul{
		width: 200px;
		@include border-radius(4px);
		border: 1px $blue solid;
		position: relative;

		&:after {
			right: 3px;
			top: -10px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(172, 0, 53, 0);
			border-bottom-color: #fff;
			border-width: 5px;
		}

		li{
			width:100%;
			background-color: #fff;
			padding: 5px 5%;
			color: $blue;
			box-sizing: border-box;
			font-weight: $bold;
			border-top: rgba(22, 72, 86, 0.4) 1px dashed;

			i {
				width: 20px;
			}

			&:hover {
				background-color: $dark-blue;

				a {
					color: #fff;
				}
			}

			&:first-child{
				border:0;
				@include border-radius(4px 4px 0px 0px);
			}

			&:last-child{
				@include border-radius(0px 0px 4px 4px);
			}

			a{
				display:block;
				color: $blue;
				font-size: 14px;
			}
		}
	}
}

// main-nav
nav#main-nav{
	background:$dark-blue;
	margin-bottom: 30px;
	@include full;

	@include bp-small {
		display: none;
	}

	.nav-inner{
		position:relative;
	}
	
	
	#mb-btn{
		color: #fff;
		font-size: 35px;
		display:none;
		padding:0 10px;
	}

	#site-nav{
		display:inline-block;
		padding: 5px 0;
		width: 100%;
		ul{
			li{
				padding:10px 10px;
				display:inline-block;
				color:#fff;
				a{
					color: #fff;
					font-size: 16px;
				}
			}

			.inbox {
				float: right;
				padding-right: 35px;
			}
		}
	}
}
// end of main nav

.pushy {
	.mini-account {
		width: 90%;
		padding: 10px 5%;
		color: #fff !important;

		h2 {
			text-transform: capitalize;
			color: #fff;
			margin-top: 8px;
			margin-bottom: 5px;
		}

		.account-block-img {
			float: left;
			width: 30%;
			padding-right: 5%;
		}

		img {
			max-width: 100%;
			@include border-radius(100px);
		}
	}

	ul {
		@include full;
		padding-bottom: 20px;

		li {
			position: relative;
		}
	}
}
