.listing-box{
	padding: 25px 0;
	box-sizing: border-box;
	overflow: hidden;
	ul{
		li{
			box-sizing: border-box;
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #e3e3e3;
			overflow: hidden;
		}
	}
}

.job-view{
	.page-title {

		@include full; 
		h2 {
			width: auto;
			float: left;
		}

		span {
			background-color: #2F8A2F;
			color: #fff;
			width: auto;
			font-size: 14px;
			text-align: right;
			padding: 9px 20px 9px 33px;
			@include border-radius(4px);
			float: right;
			position: relative;

			&:after {
				@include fontawesome;
				content: '\f00c';
				color: #fff;
				left: 11px;
				font-size: 13px;
			}
		}
	}

	.block {
		@include full;
	}

	.job-action {
		float: left;
	}

	.job-description {
		margin-bottom: 30px;
		padding-bottom: 30px;
		@include full;
		border-bottom: #e3e3e3 solid 1px
	}

	.start-date, .service-type, .location {
		float: left;
		width: 20%;

		@include bp-small {
			width: 50%;
		}
	}
}

.listing-box {
	ul {
		li {
			.job-content {
				position: relative;
			}

			.job-title{
				float: left;
			}

			.job-state {
				position: absolute;
				right: 0px;
				top: 0px;
			}
		}
	}
}

.job-block{

	position: relative;
	.job-content {
		float: left;
		width: 65%;

		@include bp-small {
			@include full;
		}
	}

	.job-title{
		float: left;
		width: 60%;

		h2 {
			.span {
				background-color: #2F8A2F;
				color: #fff;
				width: auto;
				text-align: right;
				padding: 9px 20px 9px 33px;
				@include border-radius(4px);
				float: right;
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 16px;
			}
		}

		h3 {
			font-size: 32px;
			color: #164856;
			margin-bottom: 15px;
			font-weight: 600;
			text-transform: capitalize;

			@include bp-small {
				line-height: 36px;
			}
		}
	}
	
	.job-state {
		float: right;
		width: auto;
		font-weight: $bold;
		position: relative;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.active{
		background-color: #2F8A2F;
		color: #fff;
		width: auto;
		text-align: right;
		padding: 9px 20px 9px 33px;
		@include border-radius(4px);
		float: right;
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 16px;

		&:after {
			@include fontawesome;
			content: '\f00c';
			color: #fff;
			left: 11px;
			font-size: 13px;
		}

	}
	.inactive{
		background-color: red;
		color: #fff;
		width: auto;
		text-align: right;
		padding: 9px 20px 9px 33px;
		@include border-radius(4px);
		float: right;

		&:after {
			@include fontawesome;
			content: '\f00d';
			color: #fff;
			left: 11px;
			font-size: 13px;
		}
	}
	.job-desc{
		font-size: 16px;
		@include full;
		color:$text-color;
		padding: 15px 0;
	}

	.job-action {
		@include full;
	}

	.job-snapshot {
		float: left;
		width: 25%;
		padding-left: 5%;

		@include bp-small {
			@include full;
			padding-left: 0px;
			margin-top: 20px;
		}

		span:first-child {
			margin-top: 0px;
		}

		span {
			display: block;
			width: 100%;
			float: left;
			color: #164856;
			font-weight: 600;
			line-height: 16px;
			margin: 15px 0px 5px 0px;
			font-size: 14px;
		}

		p {
			font-weight: $bold;
			font-size: 18px;
		}

		i {
			margin-right: 5px;
		}
	}
}

.sub-list {
	@include full;
	margin-top: 30px;

	ul{
		@include full;

		li{
			display:inline-block;
			width:49%;
			vertical-align: top;
			.user-block .user-img{
				width:25%;

				@include bp-small {
					padding-left: 0px;
				}
			}
			&:nth-child(2n){
				border-left: 2px solid #ccc;

				@include bp-small {
					border-left: 0px #fff solid;
				}
			}

			@include bp-small {
				@include full;
			}
		}
	}
}

.sub-list{
}