
.message{
	padding: 15px;

	@include bp-small {
		@include full;
		padding: 15px 0px;
	}

	.user-img{
		width: 15%;
		box-sizing:border-box;
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		img{
			width: 100%;
		}
	}
	.message-tease{
		width: 60%;
		box-sizing:border-box;
		display: inline-block;
		vertical-align: top;
		padding: 10px 20px;
		position: relative;
		.user-name{
			font-size: 20px;
			color: $dark-blue;
			margin-bottom: 15px;
			text-transform: capitalize;
		}
		.message-content{
			font-size: 16px;
			margin-bottom: 15px;
		}
		.message-date{
			margin-bottom: 15px;
		}
	}

	.message-body{
		padding:15px;
		font-size: 16px;
		@include full;

		@include bp-small {
			@include full;
			padding: 15px 0px;
		}
	}
	.msg-cta{
		padding:15px;
		float: right;
	}

	.row {
		@include full;
	}
}

#message-menu{
	ul{
		li{
			display:inline-block;
			width:49.5%;
			border:1px solid $blue;
			text-align:center;		
			background: #fff;
			@include border-radius(4px);

			@include bp-small {
				width: 48.5%;
			}

			a{
				font-size: 14px;
				color:$dark-blue;
				display:block;
				height:100%;
				font-weight: $bold;
				width: 100%;
				padding: 10px 0;			
			}
			&.active{
				background:$blue;
				a{

					color:#fff;
				}
				
			}
		}
	}
}

#message-main{
	padding: 15px;
	
	@include bp-small {
		padding: 15px 0px;
	}

	ul{
		li{
			border-bottom:1px solid #ccc;
			color:$dark-blue;
			padding: 15px;
			margin-bottom: 25px;
			position: relative;

			@include bp-small {
				padding: 15px 0px;
			}

			&:first-child{
				border-top:0px solid #ccc;
			}

			.user-img{
				width: 15%;
				box-sizing:border-box;
				display: inline-block;
				vertical-align: top;
				padding: 10px;

				@include bp-small {
					display: none;
				}

				img{
					width: 100%;
					@include border-radius(200px);
				}
			}
			.message-tease{
				width: 78%;
				box-sizing:border-box;
				display: inline-block;
				vertical-align: top;
				padding: 10px 20px;
				position: relative;

				@include bp-small {
					padding: 30px 0px 0px 0px;
					@include full;
				}

				.user-name{
					font-size: 20px;
					color: $dark-blue;
					margin-bottom: 15px;
					text-transform: capitalize;

					span {
						color: #164856;
						font-size: 14px;
						margin-top: 20px;
						font-weight: $bold;
					}

					h2 {
						color: #343434;
					}
				}
				.message-content{
					font-size: 16px;
					margin-bottom: 15px;
				}
				.message-date{
					font-weight: $bold;
					font-size: 16px;
					margin-bottom: 15px;
					color: $blue;
					float: left;
					
					span {
						clear: both;
						float: left;
					}

					i {
						width: 20px;
						color: $dark-blue;
					}
				}

				.cta{
					float: left;
					margin-left: 30px;

					@include bp-small {
						margin-left: 0px;
						clear: both;
					}

					a {
						i {
							opacity: 0.5;
							margin-right: 10px;
						}
					}
				}
			}	
		}
	}
}


.sent-messages {
	.message-tease {
		width: 50%;
		float: left;
		padding: 10px 0px 0px 0px;
	}
}

.message {
	.message-list-block {
		float: left;
		width: 100%;

		@include bp-small {
			@include full;
		}

		aside.contact {
			float: left;
			width: 39%;

			.user-img {
				float: left;
				width: 35%;
				margin-right: 5%;
				padding: 10px 0px 0px 0px;

				@include bp-small {
					display: none;
				}
			}

			img {
				width: 100%;
				@include border-radius(200px);
			}
		}

		.user-name {
			span {
				@include full;
				color: #164856;
    			font-size: 14px;
    			font-weight: 600;
			}
		}

		.message-content {
			span {
				@include full;
				color: #164856;
    			font-size: 14px;
    			font-weight: 600;
			}
		}

		.message-date{
					font-weight: $bold;
					font-size: 16px;
					margin-bottom: 15px;
					color: $blue;
					float: left;
					font-style: normal;
					
					span {
						clear: both;
						float: left;
					}

					i {
						width: 20px;
						color: $dark-blue;
					}
				}
	}
}


.msg-notify{
	display:inline-block;
	background:#fff;
	padding:4px 6px;
	font-size: 11px;
	border: 2px solid #1e6073;
	color:#000;
	position: absolute;
	top: 12px;
	line-height: 12px;
	right: 0px;
	text-align: center;
	vertical-align: middle;
	box-sizing:border-box;
	font-weight: $bold;
	@include border-radius(5px);

	@include bp-small {
		position: absolute;
		top: 6px;
		right: 14px;
	}
}
