
.profile-block{
	margin-top: 40px;
	aside.contact {
		float: left;
		width: 15%;
		min-height: 300px;

		.profile-image{
			width: 90%;
			height: auto;
			display: inline-block;
			vertical-align: top;
			img{
				width:100%;	
				@include border-radius(300px)	
			}
		}

		h3 {
			margin-top: 20px;
		}

		ul {
			li {
				display: inline-block;
				margin-bottom: 15px;
				padding-left: 0px;
				box-sizing: border-box;
				font-weight: bold;
				position: relative;
			}
		}
		span {
			font-weight: $bold;
			width: 100%;
			float: left;
			font-size: 14px;
			color: $dark-blue;
		}
	}
	
	.content {
		float: left;
		width: 55%;
		padding: 0px 2.5%;
		min-height: 300px;

		.block-bio {
			@include full;
			padding-top: 30px;
			margin-top: 30px;
			border-top: 1px solid $dark-blue;
		}

		p {
			line-height: 20px;
			margin-bottom: 10px;
		}
	}

	aside.ratings {
		float: left;
		width: 25%;
		min-height: 300px;
	}


	.profile-info{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		h2{
			font-size: 42px;
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: capitalize;
		}
		h3.last-login{
			font-size:12px;
			margin-bottom:15px;
		}
		.gender{
			text-transform: capitalize;
			margin-bottom: 5px;
		}
		.user-location{
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.user-status{
			margin-bottom: 10px;
		}
		.user-background-check{
			margin-bottom: 20px;
		}
	}
}
