.giver-profile .profile-block {
	.content {
		width: 80%;

		@include bp-large {
			width: 70%;
		}

		@include bp-small {
			@include full;
		}

		.block {
			float: left;
			@include full;
			border-bottom: 1px #d3d3d3 solid;
			padding-bottom: 20px;
			margin-bottom: 0px;

			&.availabilty {
				border-bottom: 0px solid #fff;
			}
		}

		.service-cats,
		.service-rate,
		.services,
		.qualifications {
			float: left;
			width: 25%;
			margin-bottom: 30px;
			border-bottom: 1px solid #fff;

			@include bp-mlarge {
				width: 50%;
			}

			@include bp-small {
				@include full;
			}
		}

		.services {
			@include bp-mlarge {
				clear: both;
			}

		}
	}
}

.profile-block{
	margin-top: 40px;

	@include bp-small {
		margin-top: 0px;
	}

	aside.contact {
		float: left;
		width: 15%;
		min-height: 300px;
		position: relative;

		@include bp-small {
			min-height: 0px;
		}

		@include bp-mlarge {
			width: 25%;
		}

		@include bp-small {
			width: 100%;

			.profile-image {
				@include full;
			}
		}

		.edit-btn {
			position: relative;
		}

		ul {
			li {

			}
		}

		p {
			font-weight: $bold;

			@include bp-small {
				text-align: center;
			}
		}

		.dark-blue-btn {
			padding-left: 10%;
			padding-right: 10%;
			margin-top: 20px;

			@include bp-small {
				padding-left: 5%;
				padding-right: 5%;
			}

			i {
				opacity: 0.7;
				font-size: 13px; 

				@include bp-small {
					display: none;
				}
			}
		}

		.profile-image{
			width: 90%;
			height: auto;
			margin-bottom: 20px;
			display: inline-block;
			vertical-align: top;
			
			@include bp-small {
				@include full;
				text-align: center;
			}

			img{
				width:100%;	
				@include border-radius(300px);

				@include bp-small {
					width: 30%;
				}	
			}
		}

		h3 {
			margin-top: 20px;

			@include bp-small {
				text-align: center;
			}
		}

		ul {

			@include bp-small {
				text-align: center;
			}
			li {
				display: inline-block;
				margin-bottom: 15px;
				padding-left: 0px;
				box-sizing: border-box;
				font-weight: bold;
				position: relative;

				@include bp-small {
					br {
						display: none;
					}
				}
			
				&.email {
					@include bp-small {
						float: left;
						width: 50%;
					}
				}

				&.phone {
					@include bp-small {
						float: left;
						width: 50%;
					}
				}
			}
		}
		span {
			font-weight: $bold;
			width: 100%;
			float: left;
			font-size: 14px;
			color: $dark-blue;
		}
	}
	
	.content {
		float: left;
		width: 75%;
		padding: 0px 2.5%;
		min-height: 300px;

		@include bp-mlarge {
			width: 65%;
		}

		@include bp-small {
			width: 100%;
			padding: 0px 0px 0px 0px;
		}
		
		.block {
			position: relative;
			.edit-btn {
				top: 13px;
				right: 0px;
			}
		}

		.fa {
			font-size: 12px;
			color: #fff;
		}

		// .block:nth-child(odd) {
		// 	clear: both;
		// 	width:48%;
		// 	margin-right: 1%;
		// }

		// .block:nth-child(odd) {
		// 	width: 48%;
		// 	margin-right: 1%;
		// }

		.block-bio {
			@include full;
			padding-top: 30px;
			margin-top: 30px;
			border-top: 1px solid #e3e3e3;
		}

		p {
			margin-bottom: 10px;
		}
	}

	.profile-info{
		display: inline-block;
		vertical-align: top;
		width: 100%;

		h2{
			font-size: 42px;
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: capitalize;

			@include bp-small {
				margin-bottom: 20px;
			}
		}
		h3.last-login{
			font-size:12px;
			margin-bottom:15px;
		}
		.gender{
			text-transform: capitalize;
			margin-bottom: 5px;
		}
		.user-location{
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.user-status{
			margin-bottom: 10px;
		}
		.user-background-check{
			margin-bottom: 20px;
		}
	}
}

