
.user-block{
	overflow:hidden;
	.user-img{
		width: 20%;
		box-sizing:border-box;
		float: left;
		padding: 10px;

		img{
			width: 100%;
			@include border-radius(200px);
		}
	}
	.user-info{
		width: 60%;
		box-sizing:border-box;
		float: left;
		padding: 10px 20px;
		position: relative;
		font-size: 14px;

		@include bp-mlarge {
			padding: 10px 0px;
		}

		@include bp-small {
			@include full;
		}

		.user-name{
			font-size: 32px;
			color: $dark-blue;
			margin-bottom: 15px;
			font-weight: $bold;
			text-transform: capitalize;
		}

		.last-login {
			span {
				font-weight: bold;
			}
		}
		.user-location{
			margin-bottom:20px;

			i {
				color: $dark-blue;
				margin-right: 5px;
			}
		}
		.user-exp{
			font-size: 14px;
			line-height: 18px;
			color: $text-color;
			margin-bottom: 20px;

			span {
				font-weight: $bold;
			}
		}
		.user-rate{
			font-size: 14px;
			color: $blue;
			margin-bottom: 15px;
		}
		.user-rating{
			position:absolute;
			top:0;
			right:0;
			padding:10px;
		}
		.sub-content{
			padding: 15px 0;
			h2{
				font-size: 16px;
			}
		}
	}

	.user-right-box{
		width:20%;
		color:#fff;
		box-sizing:border-box;
		float: right;
		text-align: left;
		padding: 0px 15px 20px 15px;
		color: #000;

		@include bp-mlarge {
			padding: 0px 0px 0px 0px;
			width: 34%;
		}

		@include bp-small {
			@include full;

			> div {
				float: left;
				width: 50% !important;
			}
		}
		
		* {
			color: #000;
		}

		h3{
			font-size: 32px;
			margin: 0px 0px 0px 0px;
		}

		span {
			@include full;
			color: $dark-blue;
			font-weight: $bold;
			margin: 0px 0px 0px 0px;
			font-size: 14px;
		}

		p {
			font-weight: $bold;
			font-size: 18px;
		}

		i {
			font-size: 18px;
			color: $blue;
		}

		.cta {
			@include full;

			@include bp-small {
				clear: both;
				width: 100% !important;
			}

			a {
				color: #fff;
				font-weight: $bold;
				font-size: 14px;
				margin-top: 15px;
			}
		}
	}
}

.sub-block {
	.user-location {
		margin-bottom: 0px !important;
	}

	i {
		color: #164856 !important;
    	margin-right: 5px !important;
	}
}